/* CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,body,h1,h2,h3,h4,h5,h6,p,ul,ol {
  margin: 0;
  padding: 0;
}

ul,ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
textarea,
select {
  font: inherit;
}

button {
  border: 0;
  background: none;
  cursor: pointer;
}


body{
  margin:0;
  font-family:Noto Sans TC, sans-serif; 
  justify-content: center; /* 整個 card 水平置中 */
  line-height: 1.5;
}

.header{
    display: flex;
    height: 80px;
    align-items: center;  /* 垂直居中 */
    justify-content: space-between;  /* 水平方向左右兩邊撐開 */
    padding: 0 312px;
    

    .header-left{
        display: flex;
        gap:60px; 
    }
    a:hover{
        color: #ADB5BD;
    }
    a:active{
        color: #6C757D;
    }
}

.container{
    height: 1628px;
    display: flex;
    margin-top: 64px;
}
.container .pic{
    width: 746px;
    height: 1500px;
    margin-left: 312px;

    ul{
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        
    }

    img{
        width: 369px;
        height: auto;
    }
}

.label{
    margin-left: 24px;
    width: 526px;
}
.container .md{
    height: 24px;
    margin-bottom: 12px;

    ul{
        display: flex;
        :hover{
            color: #212529;
            cursor: pointer;
        }
    }
    li{
        color: #6C757D;
        margin: 0 8px;
    }
}

.md-content{
    margin-bottom: 32px;
    h2{
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 16px;
    }
    h5{
        font-size: 20px;
        color: #57A203;
        display: flex;
        align-items: center;
        margin-bottom: 16px;
    }
    h5 span{
        color: #ADB5BD;
        font-size: 14px;
        font-weight: 300;
        text-decoration: line-through;
        margin-left: 8px;
    }
    p{
        letter-spacing: 5%;
        line-height: 24px;
        margin: 12px 0;
    }
}

.options-color{
    display: flex;
    margin-top: 8px;
    gap:8px;

    li{
        text-align: center;
    }
    span{
        color: #6C757D;
    }
}

.md2-content{
    margin-top: 32px;

    .sm{
        color:#D74F4F;
    }
    .options-size{
    width: 526px;
    display: flex;
    flex-wrap: wrap;
    gap:8px;
    margin: 8px 0;

    :hover{
        cursor: pointer;
        color: white;
        background-color: #212529;
    }
    }
    li{
        width: 160px;
        height: 48px;
        border: 1px solid #DEE2E6;
        border-radius: 5px;
        text-align: center;
        line-height: 48px;
    }
    .btn-prefer{
        margin-top: 48px;
        display: flex;
        gap: 8px;

        li{
            width: 259px;
            height: 48px;
            cursor: pointer;
        }
        li:hover{
            background-color: #212529;
        }
        button:hover{
         color: white;
        }
    }
}

.info{
    height: 444px;
    margin-top: 32px;

    ul{
        border-bottom: 1px solid #DEE2E6;
        padding: 12px 0;
    }
    li{
        color: #6C757D;
    }
}






.footer{
  background-color: #F8F9FA;
  width: 100%;
  height: 278px;
  padding: 0 312px;
  
  .footer-link{
    width: 1296px;
    display:flex;
    justify-content: space-between;
    padding-top: 64px;
  }

  ul{
    display:flex;
    gap: 40px;
  }
  .footer-copyright{
    width: 1296px;
    color: #6C757D;
    display:flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #DEE2E6;
    margin-top: 24px;
    padding-top: 32px;

  }
}

.items{
  width: 1296px;
  height: 525px;
  margin: 0 auto;
  margin-top: 64px;

   ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 24px;
   }
   li{
    margin-top: 16px;
   }

   h4,h6{
    font-weight: bold;
   }
   img{
    width: 306px;
    height: 306px;
   }
}


.banner{
    width: 1920px;
    height: 96px;
    background-color: #E8FEC5;


    ul{
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 96px;
        gap: 24px;


    }
    h4{
        font-size: 24px;
    }
    a{
        color: white;
        width: 115px;
        height: 48px;
        display: flex;
        border-radius: 5px;
        background-color: #212529;
        justify-content: center;
        align-items: center;

    }

}



.footer{
  background-color: #F8F9FA;
  width: 100%;
  height: 278px;
  padding: 0 312px;
  
  .footer-link{
    width: 1296px;
    display:flex;
    justify-content: space-between;
    padding-top: 64px;
  }

  ul{
    display:flex;
    gap: 40px;
  }
  .footer-copyright{
    width: 1296px;
    color: #6C757D;
    display:flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #DEE2E6;
    margin-top: 24px;
    padding-top: 32px;

  }
}
