/* CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,body,h1,h2,h3,h4,h5,h6,p,ul,ol {
  margin: 0;
  padding: 0;
}

ul,ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
textarea,
select {
  font: inherit;
}

button {
  border: 0;
  background: none;
  cursor: pointer;
}


body{
  margin:0;
  font-family:Noto Sans TC, sans-serif; 
  justify-content: center; /* 整個 card 水平置中 */
  line-height: 1.5;
}

.header{
    display: flex;
    height: 80px;
    align-items: center;  /* 垂直居中 */
    justify-content: space-between;  /* 水平方向左右兩邊撐開 */
    padding: 0 312px;
    

    .header-left{
        display: flex;
        gap:60px; 
    }
        color: #ADB5BD;
    }
    a:active{
        color: #6C757D;
    }
}


.container{
  display:flex;
  width: 1296px;
  height: 1389px;
  margin-top:24px;
  margin-left:312px;
}

.breadcrumb{
  width: 196px;
  margin:32px 0 0 312px;
}

.breadcrumb-link{
    margin-bottom:24px;
    
    :hover{
      color:#6C757D;
    }
    span{
    color:#DEE2E6;
  }
}

h3{
  font-size:28px;
  width: 1296px;
  margin-left:312px;
}

.title{
  width: 196px;
  height: 304px;

  li{
    padding:8px 0 8px 0;
    margin-bottom:16px;
  }

  li:hover{
    color:#57A203;
    cursor:pointer
  }
}

.items{
  width: 1076px;
  height: 1389px;
  display:flex;
  margin-left:24px;

  ul{
    display:flex;
    flex-wrap:wrap;
    gap:24px;
  }

  h6{
    font-size:16px;
    margin-top:12px;
    margin-bottom:4px;
  }

  ul li img{
    width: 342.67px;
  }

}

.page{
  width: 336px;
  height: 40px;
  display:flex;
  margin: auto;

  .page-number{
    display:flex;
    gap:8px;
    
  }

  li{
    width:40px;
    height:40px;
    display:flex;
    align-items: center;
    justify-content: center;
  }

  li:hover{
    background-color:#C0FA73;
    cursor:pointer
  }
}

#choose:hover{
  background-color:white;
  color: #DEE2E6;
}

.inner{
  background-color:#E8FEC5;
  width: 100%;
  height: 96px;
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top:48px;
  gap: 24px;

  h4{
    font-size: 24px;
  }

  .btn{
    color: white;
    background-color: #000000;
    padding: 12px 24px;
    border-radius: 5px;
  }
  
}

.footer{
  background-color: #F8F9FA;
  width: 100%;
  height: 278px;
  padding: 0 312px;
  
  .footer-link{
    width: 1296px;
    display:flex;
    justify-content: space-between;
    padding-top: 64px;
  }

  ul{
    display:flex;
    gap: 40px;
  }
  .footer-copyright{
    width: 1296px;
    color: #6C757D;
    display:flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #DEE2E6;
    margin-top: 24px;
    padding-top: 32px;

  }
}

